@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed|Roboto:400,700");
@-webkit-keyframes monitor-scale {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1; }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1; } }

@keyframes monitor-scale {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1; }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1; } }

@keyframes logo-spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

@-webkit-keyframes logo-spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

@-webkit-keyframes bookshelf-slide-in {
  0% {
    transform: translateX(-1000px);
    opacity: 0; }
  100% {
    transform: translateX(0);
    opacity: 1; } }

@keyframes bookshelf-slide-in {
  0% {
    transform: translateX(-1000px);
    opacity: 0; }
  100% {
    transform: translateX(0);
    opacity: 1; } }

@-webkit-keyframes window-slide-in {
  0% {
    transform: translateX(1000px);
    opacity: 0; }
  100% {
    transform: translateX(0);
    opacity: 1; } }

@keyframes window-slide-in {
  0% {
    transform: translateX(1000px);
    opacity: 0; }
  100% {
    transform: translateX(0);
    opacity: 1; } }

@keyframes menu-slide-down {
  0% {
    transform: translateY(-100vh);
    opacity: 0; }
  100% {
    transform: translateY(0);
    opacity: 1; } }

@keyframes menu-slide-up {
  0% {
    transform: translateY(0);
    opacity: 1; }
  100% {
    transform: translateY(-100vh);
    opacity: 0; } }

@keyframes show-wireframe {
  0% {
    height: 80px;
    top: 30px; }
  100% {
    top: 110px;
    height: 0; } }

@keyframes show-menu-picture {
  0% {
    height: 30px;
    top: 145px; }
  100% {
    height: 0px;
    top: 175px; } }

@keyframes show-android {
  0% {
    height: 40px;
    top: 140px; }
  100% {
    height: 0;
    top: 180px; } }

@keyframes show-js-image {
  0% {
    height: 40px;
    top: 30px; }
  100% {
    height: 0;
    top: 70px; } }

@keyframes show-arrow-image {
  0% {
    height: 40px;
    top: 90px; }
  100% {
    height: 0;
    top: 130px; } }

@keyframes show-database-image {
  0% {
    height: 40px;
    top: 145px; }
  100% {
    height: 0;
    top: 185px; } }

body {
  font-family: 'Roboto', sans-serif; }

p, li, button {
  font-family: 'Roboto Condensed', sans-serif; }

li {
  list-style: none;
  margin-left: 5px; }

ul {
  margin: 0 !important; }

a {
  text-decoration: none !important; }

.portfolio-h2 {
  text-align: center;
  font-size: 2em;
  margin-top: 0;
  color: #333; }

.worksHero-holder-image {
  position: relative;
  min-height: 320px; }

.worksHero-div-whiteboard {
  position: absolute;
  top: 0;
  right: -50px;
  width: 300px;
  height: 200px;
  background: #fff;
  border: 3px solid #cdcdcd; }

.worksHero-div-desk {
  position: absolute;
  bottom: 0px;
  left: 0;
  right: 0;
  z-index: 50;
  margin: auto;
  height: 60px;
  width: 100vw;
  background: #e0d5b1; }

.worksHero-div-wireframe {
  position: absolute;
  top: 30px;
  z-index: 5;
  right: 150px;
  width: 80px;
  height: 80px;
  background: white;
  animation: show-wireframe 0.25s ease-in forwards; }

.worksHero-div-menu {
  position: absolute;
  z-index: 5;
  top: 145px;
  right: 200px;
  width: 30px;
  height: 30px;
  background: #fff;
  animation: show-menu-picture 0.2s ease-in forwards;
  animation-delay: 0.3s; }

.worksHero-div-android {
  position: absolute;
  z-index: 5;
  top: 140px;
  right: 110px;
  width: 40px;
  height: 40px;
  background: #fff;
  animation: show-android 0.2s ease-in forwards;
  animation-delay: 0.6s; }

.worksHero-div-js {
  position: absolute;
  z-index: 5;
  top: 30px;
  right: 25px;
  width: 40px;
  height: 40px;
  background: #fff;
  animation: show-js-image 0.2s ease-in forwards;
  animation-delay: 0.9s; }

.worksHero-div-arrow {
  position: absolute;
  top: 90px;
  z-index: 5;
  right: 25px;
  width: 40px;
  height: 40px;
  background: #fff;
  animation: show-arrow-image 0.2s ease-in forwards;
  animation-delay: 1.2s; }

.worksHero-div-data {
  position: absolute;
  z-index: 5;
  top: 145px;
  right: 25px;
  width: 40px;
  height: 40px;
  background: #fff;
  animation: show-database-image 0.2s ease-in forwards;
  animation-delay: 1.5s; }

.worksHero-image-lamp {
  transform: scaleX(-1);
  position: absolute;
  bottom: 60px;
  width: 100px;
  left: 0px;
  z-index: 50; }

.worksHero-image-chair {
  z-index: 10;
  position: absolute;
  bottom: -90px;
  width: 220px;
  left: 0;
  right: 0;
  margin: auto; }

.worksHero-image-wireframe {
  position: absolute;
  top: 30px;
  z-index: 5;
  right: 150px;
  width: 80px; }

.worksHero-image-arrow {
  position: absolute;
  top: 90px;
  z-index: 5;
  right: 25px;
  width: 40px;
  transform: rotate(180deg); }

.worksHero-image-data {
  position: absolute;
  z-index: 5;
  top: 145px;
  right: 25px;
  width: 40px; }

.worksHero-image-js {
  position: absolute;
  z-index: 5;
  top: 30px;
  right: 25px;
  width: 40px; }

.worksHero-image-menu {
  position: absolute;
  z-index: 5;
  top: 145px;
  right: 200px;
  width: 30px; }

.worksHero-image-android {
  position: absolute;
  z-index: 5;
  top: 140px;
  right: 110px;
  width: 40px; }
