@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed|Roboto:400,700");
@-webkit-keyframes monitor-scale {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1; }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1; } }

@keyframes monitor-scale {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1; }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1; } }

@keyframes logo-spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

@-webkit-keyframes logo-spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

@-webkit-keyframes bookshelf-slide-in {
  0% {
    transform: translateX(-1000px);
    opacity: 0; }
  100% {
    transform: translateX(0);
    opacity: 1; } }

@keyframes bookshelf-slide-in {
  0% {
    transform: translateX(-1000px);
    opacity: 0; }
  100% {
    transform: translateX(0);
    opacity: 1; } }

@-webkit-keyframes window-slide-in {
  0% {
    transform: translateX(1000px);
    opacity: 0; }
  100% {
    transform: translateX(0);
    opacity: 1; } }

@keyframes window-slide-in {
  0% {
    transform: translateX(1000px);
    opacity: 0; }
  100% {
    transform: translateX(0);
    opacity: 1; } }

body {
  font-family: 'Roboto', sans-serif; }

p, li, button {
  font-family: 'Roboto Condensed', sans-serif; }

li {
  list-style: none;
  margin-left: 5px; }

ul {
  margin: 0 !important; }

.portfolio-h2 {
  text-align: center;
  font-size: 2em;
  margin-top: 0;
  color: #333; }

.about {
  padding: 40px 20px 0; }
  .about-text-small {
    text-align: center;
    font-size: 1.2em;
    color: #333;
    line-height: 1.5; }
  .about-holder-image {
    text-align: center; }
  .about-holder-links {
    display: flex;
    padding: 20px 40px;
    justify-content: space-between; }
  .about-image-me {
    height: 120px;
    border-radius: 50% 50%; }
  .about-image-link {
    height: 40px; }
