@-webkit-keyframes monitor-scale
 0% 
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
 100%
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;

@keyframes monitor-scale 
 0% 
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
 100%
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;

@keyframes logo-spin 
 from
    transform: rotate(0deg);
 to 
    transform: rotate(360deg); 

@-webkit-keyframes logo-spin 
 from
    transform: rotate(0deg);
 to 
    transform: rotate(360deg); 


@-webkit-keyframes bookshelf-slide-in 
  0% 
    transform: translateX(-1000px);
    opacity: 0;
  100% 
    transform: translateX(0);
    opacity: 1;

@keyframes bookshelf-slide-in 
  0% 
    transform: translateX(-1000px);
    opacity: 0;
  
  100% 
    transform: translateX(0);
    opacity: 1;



@-webkit-keyframes window-slide-in 
  0%
    transform: translateX(1000px);
    opacity: 0;
  100%
    transform: translateX(0);
    opacity: 1;


@keyframes window-slide-in 
  0%
    transform: translateX(1000px);
    opacity: 0;
  100%
    transform: translateX(0);
    opacity: 1;


// Slide the overlay down 
@keyframes menu-slide-down

  0%
    transform: translateY(-100vh);
    opacity: 0;

  100%
    transform: translateY(0);
    opacity: 1;

  
// Slide the overlay up 
@keyframes menu-slide-up

  0%
    transform: translateY(0);
    opacity: 1;

  100%
    transform: translateY(-100vh);
    opacity: 0;

// make the wireframe show
@keyframes show-wireframe
  0%
    height: 80px;
    top: 30px;
  100%
    top: 110px;
    height: 0;

// make the menu picture show
@keyframes show-menu-picture
  0%
    height: 30px;
    top: 145px;
  100%
    height: 0px;
    top: 175px;

// make the android picture show
@keyframes show-android
  0%
    height: 40px;
    top: 140px;
  100%
    height: 0;
    top: 180px;

// make the js file image show
@keyframes show-js-image
  0%
    height: 40px;
    top: 30px;
  100%
    height: 0;
    top: 70px;

// make the arrow image show
@keyframes show-arrow-image
  0%
    height: 40px;
    top: 90px;
  100%
    height: 0;
    top: 130px;

// make the database image show
@keyframes show-database-image
  0%
    height: 40px;
    top: 145px;
  100%
    height: 0;
    top: 185px;
