@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed|Roboto:400,700");
@-webkit-keyframes monitor-scale {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1; }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1; } }

@keyframes monitor-scale {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1; }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1; } }

@keyframes logo-spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

@-webkit-keyframes logo-spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

@-webkit-keyframes bookshelf-slide-in {
  0% {
    transform: translateX(-1000px);
    opacity: 0; }
  100% {
    transform: translateX(0);
    opacity: 1; } }

@keyframes bookshelf-slide-in {
  0% {
    transform: translateX(-1000px);
    opacity: 0; }
  100% {
    transform: translateX(0);
    opacity: 1; } }

@-webkit-keyframes window-slide-in {
  0% {
    transform: translateX(1000px);
    opacity: 0; }
  100% {
    transform: translateX(0);
    opacity: 1; } }

@keyframes window-slide-in {
  0% {
    transform: translateX(1000px);
    opacity: 0; }
  100% {
    transform: translateX(0);
    opacity: 1; } }

@keyframes menu-slide-down {
  0% {
    transform: translateY(-100vh);
    opacity: 0; }
  100% {
    transform: translateY(0);
    opacity: 1; } }

@keyframes menu-slide-up {
  0% {
    transform: translateY(0);
    opacity: 1; }
  100% {
    transform: translateY(-100vh);
    opacity: 0; } }

@keyframes show-wireframe {
  0% {
    height: 80px;
    top: 30px; }
  100% {
    top: 110px;
    height: 0; } }

@keyframes show-menu-picture {
  0% {
    height: 30px;
    top: 145px; }
  100% {
    height: 0px;
    top: 175px; } }

@keyframes show-android {
  0% {
    height: 40px;
    top: 140px; }
  100% {
    height: 0;
    top: 180px; } }

@keyframes show-js-image {
  0% {
    height: 40px;
    top: 30px; }
  100% {
    height: 0;
    top: 70px; } }

@keyframes show-arrow-image {
  0% {
    height: 40px;
    top: 90px; }
  100% {
    height: 0;
    top: 130px; } }

@keyframes show-database-image {
  0% {
    height: 40px;
    top: 145px; }
  100% {
    height: 0;
    top: 185px; } }

body {
  font-family: 'Roboto', sans-serif; }

p, li, button {
  font-family: 'Roboto Condensed', sans-serif; }

li {
  list-style: none;
  margin-left: 5px; }

ul {
  margin: 0 !important; }

a {
  text-decoration: none !important; }

.portfolio-h2 {
  text-align: center;
  font-size: 2em;
  margin-top: 0;
  color: #333; }

.app-section-works {
  padding: 40px 0 0; }

.spacer {
  height: 200px; }
