@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed|Roboto:400,700");
@-webkit-keyframes monitor-scale {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1; }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1; } }

@keyframes monitor-scale {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1; }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1; } }

@keyframes logo-spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

@-webkit-keyframes logo-spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

@-webkit-keyframes bookshelf-slide-in {
  0% {
    transform: translateX(-1000px);
    opacity: 0; }
  100% {
    transform: translateX(0);
    opacity: 1; } }

@keyframes bookshelf-slide-in {
  0% {
    transform: translateX(-1000px);
    opacity: 0; }
  100% {
    transform: translateX(0);
    opacity: 1; } }

@-webkit-keyframes window-slide-in {
  0% {
    transform: translateX(1000px);
    opacity: 0; }
  100% {
    transform: translateX(0);
    opacity: 1; } }

@keyframes window-slide-in {
  0% {
    transform: translateX(1000px);
    opacity: 0; }
  100% {
    transform: translateX(0);
    opacity: 1; } }

body {
  font-family: 'Roboto', sans-serif; }

p, li, button {
  font-family: 'Roboto Condensed', sans-serif; }

li {
  list-style: none;
  margin-left: 5px; }

ul {
  margin: 0 !important; }

.portfolio-h2 {
  text-align: center;
  font-size: 2em;
  margin-top: 0;
  color: #333; }

.works-text-projectName {
  font-size: 1.5em;
  text-align: center;
  color: #fff;
  margin: 0; }

.works-text-tech {
  color: #fff;
  font-size: 1.2em;
  text-align: center;
  margin-top: 0; }

.works-text-description {
  font-size: 1.2em;
  color: #fff;
  line-height: 1.5;
  padding: 10px 20px 0;
  text-align: center; }

.works-holder-lenny {
  padding: 20px 0 0;
  background: #5765aa;
  text-align: center; }

.works-holder-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 170px; }

.works-image-lennyLogo {
  width: 120px; }

.works-button-viewWork {
  background-color: #fff;
  color: #5765aa;
  border: 1px solid #fff;
  text-align: center;
  margin: 20px auto 40px;
  font-size: 1.2em;
  width: 230px;
  height: 50px; }

.anchor {
  color: #5765aa !important;
  text-decoration: none !important; }
